.post-hover-class {
    display: none;
    background-color: rgb(255, 249, 214);
    padding: 10px 20px;
}

.post-hover-class a {
    color: rgb(76, 76, 76);
}

li:hover+.post-hover-class {
    display: block;
}

.post-hover-class:hover {
    display: block;
}

.link-class:hover {
    text-decoration: none;
}